@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600,700');

$color-primary: #8360c3;
$color-secondary: #2ebf91;

$color-light-grey: #e5e5e5;

$color-white: #fefefe;
$color-black: #424242;

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

// ------------ MAIN GRID ------------//
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

.nav {
  grid-column: 1/5;
  grid-row: -1/1;
  background: linear-gradient(
    0deg,
    $color-primary 0%,
    $color-secondary 103.17%
  );
}
.main {
  grid-column: 5/-1;
  grid-row: 1/12;
  background-color: $color-white;
}

.footer {
  grid-column: 5/-1;
  grid-row: 12/-1;
  background: rgba($color-secondary, 0.45);
  text-align: center;
}

// ------------ SUBGRIDS ------------//

.nav {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}
.nav__wraper {
  grid-row: 3/8;
}

.main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.heading {
  grid-column: 1/5;
  grid-row: 4/7;
  padding-left: 60px;
}
.button-modified {
  grid-column: 2/4;
  grid-row: 12/13;

  height: 65px;
  background: #8360c3;
  border-radius: 37.5px;
  font-weight: 300;
  line-height: 1.5;
  font-size: 30px;
  color: #fefefe;
}

.profile__picture {
  background-color: blue;
  grid-column: 6/8;
  grid-row: 2/5;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.svg__container {
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 7;
  grid-row-start: 12;
}

a {
  color: white;
  font-weight: 300;
  line-height: 1.5;
  font-size: 60px;
}

a:hover {
  color: white;
  border-bottom: 1px solid white;
}

.social__icon {
  fill: $color-white;
  cursor: pointer;
  margin: 0 20px;
  height: 100%;
}

.social__icon:hover {
  fill: $color-primary;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: normal;
  font-size: 40px;
}
h1 span {
  color: #8360c3;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: normal;
  font-size: 30px;
}
